.socialMenuContainer {
  margin: 3% 14% 0;
  display: flex;
}
.wrapper {
  display: flex;
  margin: 0 auto;
}
.wrapper a {
  padding: 0 7% 0 0;
}
.socialIconSize {
  width: 36.75px;
  height: 36.75px;
  text-align: right;
  padding-right: 7%;
}

@media only screen and (min-width: 677px) and (max-width: 1024px) {
  .socialMenuContainer {
    display: flex;
  }
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}
@media only screen and (max-width: 676px) {
  .socialMenuContainer {
    display: flex;
    margin: 0;
    max-width: 100%;
  }
  .wrapper {
    display: flex;
    width: 100vw;
    margin-top: 12%;
    justify-content: center;
  }
  .wrapper a {
    padding: 0 4%;
  }
}
